{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}Ingreso al panel{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
  <div class="card shadow-lg p-4" style="width: 100%; max-width: 420px;">
    <h3 class="text-center mb-4">Ingreso al Panel de Preceptor</h3>
<div style="padding-bottom: 10px;">
    <a class="btn btn-primary w-100" href="{% url 'login' %}">Iniciar sesion</a>
</div>
<div>
    <a class="btn btn-primary w-100">Registrarse</a>
</div>



{% endblock %}