# Entorno virtual
venv/

# Archivos de base de datos local
db.sqlite3

# Archivos estáticos recolectados
staticfiles/

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Archivos de configuración local
.env

# Archivos de logs
*.log

# Archivos temporales
*.swp
*.bak
*.tmp

# Archivos de sistema
.DS_Store
Thumbs.db